@font-face {
  font-family: 'RubikMonoOne-Regular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/RubikMonoOne-Regular.woff2') format('woff2'),
    url('../fonts/RubikMonoOne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Urbane-Medium';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Urbane-Medium.woff2') format('woff2'),
    url('../fonts/Urbane-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Urbane-DemiBold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Urbane-DemiBold.woff2') format('woff2'),
    url('../fonts/Urbane-DemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Urbane-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Urbane-Bold.woff2') format('woff2'),
    url('../fonts/Urbane-Bold.woff') format('woff');
}